<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="lobby.css" defer>
    <script src="script.js"></script>
    
        <title>ConvoConnect Lobby</title>
</head>
<body>
    <h1 class="heading-1">ConvoConnect Lobby</h1>
    <div class="grid-container">
        <div class="container">
            <label for="heading-1">Meetings</label>
            <button class="rounded-rectangle-button" id="createMeetingButton">Create a New Meeting</button>
            <button class="rounded-rectangle-button" id="createChatRoomButton">Create a Chat Room</button>
        </div>
        <div class="container">
            <p>Introducing ConvoConnect: your go-to for seamless video chats. Enjoy crystal-clear video and crisp audio for effortless conversations. Stay tuned for upcoming features like text chat and screen sharing, tailored to meet your needs.</p>
        </div>
        
    </div>
    
</body>
</html>